<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>GenZies Blog</title>

  <!-- Font Awesome Icons CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
    crossorigin="anonymous" />

  <!-- Your existing head content -->

  <!-- Updated style link for horizontal navbar -->
  <link rel="stylesheet" href="/style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  <!-- Header -->
  <header id="header" class="shadow bg-light">
    <div class="container">
      <!-- Logo -->
      <div class="logo">
        <img src="/assets/genzies.png" alt="Website Logo" />
      </div>

      <!-- Navbar -->
      <nav class="navbar">
        <div class="navbar-left">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/pages">Pages</a></li>
            <li><a href="/categories">Categories</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>

        <!-- Search Bar and Icons -->
        <div class="search-bar-icons">
          <input type="text" placeholder="Search..." />
          <span><i class="fas fa-search" style="font-size: 100%;"></i></span>
          <span><i class="fab fa-facebook-f" style="font-size: 100%;"></i></span>
          <span><i class="fas fa-wifi" style="font-size: 100%;"></i></span>
        </div>
      </nav>
    </div>
  </header>

  <!-- Main Site -->
  <main id="site-main">
    <!-- Image Boxes -->
    <section id="image-boxes">
      <div class="container">
        <div class="grid">
          <!-- Image Box 1 -->
          <div class="grid-item">
            <a href="/home">
              <img src="/assets/img1.jpg" alt="Image 1" style="height: 500px; width: 700px" />
              <p style="font-size: 20px;">What is new today , so we have some scoop about the latest trends
              </p>
            </a>
          </div>

          <!-- Image Box 2 -->
          <div class="grid-item">
            <a href="#">
              <img src="/assets/img2.jpg" alt="Image 2" style="height: 500px; width: 700px" />
              <p style="font-size: 20px;">Do not get mistaken easily and do not miss this chance to</p>
            </a>
          </div>

          <!-- Image Box 3 -->
          <div class="grid-item">
            <a href="#">
              <img src="/assets/img3.jpg" alt="Image 3" style="height: 500px; width: 700px" />
              <p style="font-size: 20px;">the latest autumn trends and best hacks to deal with this autumn season</p>
            </a>
          </div>

          <!-- Image Box 4 -->
          <div class="grid-item">
            <a href="#">
              <img src="/assets/img4.jpg" alt="Image 4" style="height: 500px; width: 700px" />
              <p style="font-size: 20px;">Best autumn movies for major cozy vibes and chill afternoons</p>
            </a>
          </div>

          <!-- Image Box 5 -->
          <div class="grid-item">
            <a href="#">
              <img src="/assets/img5.jpg" alt="Image 5" style="height: 500px; width: 700px" />
              <p style="font-size: 20px;">We might have the latest news for you and latest 10 minute recipes</p>
            </a>
          </div>

          <!-- Image Box 6 -->
          <div class="grid-item">
            <a href="#">
              <img src="/assets/img6.jpg" alt="Image 6" style="height: 500px; width: 700px" />
              <p style="font-size: 20px;">whatever it is you may think is the latest trend , think again</p>
            </a>
          </div>

          <!-- Image Box 7 -->
          <div class="grid-item">
            <a href="#">
              <img src="/assets/img7.jpg" alt="Image 7" style="height: 500px; width: 700px" />
              <p style="font-size: 20px;">Lorem ipsum dolor sit amet consectetu Lorem ipsum dolor sit amet consectetu</p>
            </a>
          </div>

          <!-- Image Box 7 -->
          <div class="grid-item">
            <a href="#">
              <img src="/assets/img7.jpg" alt="Image 7" style="height: 500px; width: 700px" />
              <p style="font-size: 20px;">Lorem ipsum dolor sit amet consectetu Lorem ipsum dolor sit amet consectetu</p>
            </a>
          </div>
 <!-- Image Box 9 -->
 <div class="grid-item">
  <a href="#">
    <img src="/assets/img9.jpg" alt="Image 7" style="height: 500px; width: 700px" />
    <p style="font-size: 20px;">Lorem ipsum dolor sit amet consectetu Lorem ipsum dolor sit amet consectetu</p>
  </a>
</div>
 <!-- Image Box 10 -->
 <div class="grid-item">
  <a href="#">
    <img src="/assets/img10.jpg" alt="Image 7" style="height: 500px; width: 700px" />
    <p style="font-size: 20px;">Lorem ipsum dolor sit amet consectetu Lorem ipsum dolor sit amet consectetu</p>
  </a>
</div>
 <!-- Image Box 11 -->
 <div class="grid-item">
  <a href="#">
    <img src="/assets/img11.jpg" alt="Image 7" style="height: 500px; width: 700px" />
    <p style="font-size: 20px;">Lorem ipsum dolor sit amet consectetu Lorem ipsum dolor sit amet consectetu/p>
  </a>
</div>
 <!-- Image Box 12 -->
 <div class="grid-item">
  <a href="#">
    <img src="/assets/img12.jpg" alt="Image 7" style="height: 500px; width: 700px" />
    <p style="font-size: 20px;">Lorem ipsum dolor sit amet consectetu Lorem ipsum dolor sit amet consectetu</p>
  </a>
</div>
 <!-- Image Box 13 -->
 <div class="grid-item">
  <a href="#">
    <img src="/assets/img13.jpg" alt="Image 7" style="height: 500px; width: 700px" />
    <p style="font-size: 20px;">Lorem ipsum dolor sit amet consectetu Lorem ipsum dolor sit amet consectetu</p>
  </a>
</div>
 <!-- Image Box 15 -->
 <div class="grid-item">
  <a href="#">
    <img src="/assets/img14.jpg" alt="Image 7" style="height: 500px; width: 700px" />
    <p style="font-size: 20px;">Lorem ipsum dolor sit amet consectetu Lorem ipsum dolor sit amet consectetu</p>
  </a>
</div>
 <!-- Image Box 7 -->
 <div class="grid-item">
  <a href="#">
    <img src="/assets/img7.jpg" alt="Image 7" style="height: 500px; width: 700px" />
    <p style="font-size: 20px;">CLorem ipsum dolor sit amet consectetu Lorem ipsum dolor sit amet consectetu</p>
  </a>
</div>



        </div>
      </div>
    </section>

    <!-- Load More Posts Button -->
    <div class="container" style="text-align: center; padding: 20px;">
      <button id="load-more-posts" style="font-size: 20px; background-color: blue; color: white; padding: 10px 20px; border: none; border-radius: 5px;">
        Load More Posts
      </button>
    </div>

<!-- Image Carousel -->
<div id="image-carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">
        <div class="col">
          <img src="/assets/slider/img1.jpg" class="d-block w-100" alt="Image 1">
        </div>
        <div class="col">
          <img src="/assets/slider/img2.jpg" class="d-block w-100" alt="Image 2">
        </div>
        <div class="col">
          <img src="/assets/slider/img3.jpg" class="d-block w-100" alt="Image 3">
        </div>
        <div class="col">
          <img src="/assets/slider/img4.jpg" class="d-block w-100" alt="Image 4">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="col">
          <img src="/assets/slider/img5.jpg" class="d-block w-100" alt="Image 5">
        </div>
        <div class="col">
          <img src="/assets/slider/img6.jpg" class="d-block w-100" alt="Image 6">
        </div>
        <div class="col">
          <img src="/assets/slider/img7.jpg" class="d-block w-100" alt="Image 7">
        </div>
      </div>
    </div>
    <!-- Add more carousel items as needed -->
  </div>
  <a class="carousel-control-prev" href="#image-carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#image-carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>





<div class="container mt-5">
  <div class="row">
    <!-- About Us Section -->
    <div class="col-md-4">
      <h2>About Us</h2>
      <p tyle="align:justify-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt quis voluptate </br>alias illum modi tenetur, iste voluptatem illo. Accusantium, corrupti!</br>
        <span><i class="fas fa-address" style="font-size: 100%;"></i></span>
      Budapest , Hungary
      </br>  
      <span><i class="fas fa-phone" style="font-size: 100%;"></i></span>125-896-485
    </br>  
    <span><i class="fas fa-email" style="font-size: 100%;"></i></span>hadirhlali@gmail.com</p>
    </div>

    <!-- Feature Post Section -->
    <div class="col-md-4">
      <h2>Feature Post</h2>
      <p>Lorem ipsum dolor sit amet consectetu Lorem ipsum dolor sit amet consectetu Lorem ipsum dolor sit amet consectetu
        Clock Wed 02, 2023
       
       
       Lorem ipsum dolor sit amet consectetu Lorem ipsum dolor sit amet consectetu Lorem ipsum dolor sit amet consectetu
        Clock Wed 02, 2023
       
       
       Lorem ipsum dolor sit amet consectetu Lorem ipsum dolor sit amet consectetu Lorem ipsum dolor sit amet consectetu</p>
    </div>

    <!-- Tags Section -->
    <div class="col-md-4">
      <h2>Tags</h2>
      <p>Travel
        Food
        Lifestyle
        Techonogy
        Fashion
        </p>
    </div>
  </div>
</div>

  
    
  </main>

  <!-- Footer -->
  <div id="footer">
    <p>© 2023 GenZies - A mock Blog Theme. All rights NOT NOT reserved.</p>
  </div>


  <!-- Script tags for external libraries -->
  <!-- Include Bootstrap JS and Popper.js -->
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
 <!-- Script tags for external libraries -->
<!-- Include jQuery first -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Then include Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<!-- Finally, include Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.6.0/js/bootstrap.min.js"></script>

<!-- Custom JavaScript main.js file -->
<script src="/main.js"></script>

  

  <!-- Custom JavaScript main.js file -->
  <script src="/main.js"></script>
</body>

</html>
